* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    margin: 30px 0px 0px 180px;
}

.ted {
    float: left;
    width: 600px;
    height: 500px;


}

.ted2 {

    float: left;
    width: 600px;
    height: 500px;

}

.tedris {
    font-weight: bolder;
    font-size: 60px;
    font-family: sans-serif;
    color: rgb(75, 74, 74);
}

.saheleri {
    font-size: 40px;
    line-height: 10px;
    letter-spacing: 4.2px;
    color: rgb(75, 74, 74);
}

.main .ted img {

    margin-top: 80px;
}

.cont {
    margin-top: 80px;
    margin-right: 180px;
    color: rgb(44, 44, 44);

}

.mark {
    float: left;
    width: 300px;
    height: 250px;
    border: 1px;
    border-color: #b8b8b8;
    border-style: solid;
    padding: 15px;
}

.diz {
    float: left;
    width: 300px;
    height: 250px;
    border: 1px;
    border-color: #b8b8b8;
    border-style: solid;
    padding: 15px;
}

.pro {
    float: left;
    width: 300px;
    height: 250px;
    border: 1px;
    border-color: #b8b8b8;
    border-style: solid;
    padding: 15px;
}

.sis {
    float: left;
    width: 300px;
    height: 250px;
    border: 1px;
    border-color: #b8b8b8;
    border-style: solid;
    padding: 15px;
}

.main .ted2 p {
    color: rgb(44, 44, 44);
    margin-top: 80px;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


.mark:hover {
    width: 320px;
    height: 270px;
    background-color: blueviolet;
    position: absolute;
}

.diz:hover {
    width: 320px;
    height: 270px;
    background-color: yellow;
    position: absolute;
}

.pro:hover {
    width: 320px;
    height: 270px;
    background-color: darkturquoise;
    position: absolute;
}

.sis:hover {
    width: 320px;
    height: 270px;
    background-color: green;
    position: absolute;
}

.main2 {
    clear: left;
    margin: 300px 0px 0px 180px;
}

.text2 {
    margin-top: 80px;
    margin-right: 900px;
}

.line {
    margin-top: 80px;
}

.niye {
    padding-top: 90px;
    font-size: 40px;
    font-family: sans-serif;
    letter-spacing: 4.2px;
    color: rgb(75, 74, 74);
}

.acad {
    font-weight: bolder;
    font-size: 60px;
    font-family: sans-serif;
    color: rgb(75, 74, 74);
    line-height: 30px;
}

.text2 {
    color: rgb(75, 74, 74);
}

/* .haqq{
    width: 1200px;
    height: 600px;
    background-color: chartreuse;
}
.haqq img{
   
    width: 250px;
    height: 250px;
}

.haqq .buraxilis img{
    float: left;
} */

.haqq {
    margin: 80px 0px 30px 180px;
}

.area1 {
    float: left;
    width: 600px;
    height: 600px;

}

.area2 {
    float: left;
    width: 600px;
    height: 600px;

}

.area1 img {
    float: left;
}

.haqq a {
    text-decoration: none;
    color: rgb(44, 44, 44);
    margin-top: 80px;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.haqq p {

    margin: 30px 30px 30px 30px;
}

.area2 img {
    float: left;
}

.clear {
    clear: both;
}